<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Token Grabber</title>
    </head>
    <body>
        <h1>Spotify Token Grabber</h1>
        <button onclick="window.location.href = '{{ auth_link }}'">Grab token</button>
        <p>Source code: <a href="https://github.com/bentettmar/spotify-token-grabber-flask">https://github.com/bentettmar/spotify-token-grabber-flask</a></p>
    </body>
</html>